*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-image: url(../img/natural-default-pattern.png);
  font-family: 'Lato', sans-serif;
}

h1{
  display: inline-block;
  border: 4px solid white;
  padding: 10px 20px;
  margin-bottom: 40px;
  font-size: 60px;
  letter-spacing: 0.3em;
}

/* h2{
  font-size:
} */

#container{
  margin: auto;
  width: 1200px;
}

header{
  position: relative;
  width: 100%;
}

.header-top{
  height: 300px;
  background-image: url(../img/natural-default-header.jpg);
  border: 10px solid white;
}

#logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  text-transform: uppercase;
}


main::after{
  content:"";
  display: block;
  clear: both;
}

/* Colonne del corpo */


main{
  margin: 12px 0 12px;
}

.col-left, .col-center, .col-right{
    float: left;
}

.col-left{
  height: 300px;
  width: 23%;
  background-color: #CC87DA;
}

.col-center{
  height: 619px;
  width: 50%;
  margin: 0 2%;
  background-color: #730671;
}

.col-right{
  height: 300px;
  width: 23%;
  /* background-color: grey; */
}


/* containers a destra */
.widget{
  width: 100%;
  height: 300px;
  background-color: #CC87DA;
  margin-bottom:4%;
}

footer{
  position: relative;
  width: 100%;
  height: 150px;
  background-color: #A4D2E1;
}
