*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* body{
  margin: auto;
} */

#container{
  margin: auto;
  width: 1200px;
}

header{
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #FEFE3A;
}

main::after{
  content:"";
  display: block;
  clear: both;
}

/* Colonne del corpo */


main{
  margin: 12px 0 12px;
}

.col-left, .col-center, .col-right{
    float: left;
}

.col-left{
  height: 300px;
  width: 23%;
  background-color: #CC87DA;
}

.col-center{
  height: 619px;
  width: 50%;
  margin: 0 2%;
  background-color: #730671;
}

.col-right{
  height: 300px;
  width: 23%;
  /* background-color: grey; */
}


/* containers a destra */
.widget{
  width: 100%;
  height: 300px;
  background-color: #CC87DA;
  margin-bottom:4%;
}

footer{
  position: relative;
  width: 100%;
  height: 150px;
  background-color: #A4D2E1;
}
