*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-image: url(../img/natural-default-pattern.png);
  font-family: 'Lato', sans-serif;
}

h1{
  display: inline-block;
  border: 4px solid white;
  padding: 10px 20px;
  margin-bottom: 40px;
  font-size: 60px;
  letter-spacing: 0.3em;
}

h3{
  font-size: 28px;
  text-shadow: 0px 2px 3px rgba(150, 150, 150, 1);
}

p{
    line-height: 25px;
}
/* h2{
  font-size:
} */

#container{
  margin: auto;
  width: 1200px;
}

header{
  position: relative;
  width: 100%;
  margin-top: 10px;
  text-transform: uppercase;

}

.header-top{
  height: 300px;
  background-image: url(../img/natural-default-header.jpg);
  border: 10px solid white;
}

#logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;

}


.main-menu{
  height: 50px;
  background-color: #666;
  text-align: center;
  line-height: 50px;
  color: white;
}

.main-menu li{
  display: inline-block;
  list-style: none;
  margin: 0 10px;
}

.main-menu a{
  display: inline-block;
  text-decoration: none;
  color: white;
}

.main-menu li:hover{
  display: inline-block;
  background-color: 373737;
}

main::after{
  content:"";
  display: block;
  clear: both;
}

/* Colonne del corpo */


main{
  margin: 24px 0;
}

.col-left, .col-center, .col-right{
    float: left;

}

.col-left{
  height: 300px;
  width: 200px;
  background-color: white;
  border-radius: 10px;
  padding: 24px;

}

.col-center{

  width: 752px;
  margin: 0 24px;
  padding: 24px;
  background-color: white;
  border-radius: 10px;


}

.col-center h3{
  text-transform: uppercase;
  margin-bottom: 40px;
}

.col-right{
  width: 200px;
}


/* containers a destra */
.widget{
  width: 100%;
  height: 300px;
  background-color: #CC87DA;
  margin-bottom:24px;
  padding: 24px;
  background-color: white;
  border-radius: 10px
}

footer{

  width: 100%;
  height: 150px;
  background-color: #A4D2E1;
  margin-bottom: 10px;
}
